<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style/game.css">
    <title>Salvo!</title>
</head>
<body>
    <div id="app">
        <h1>SALVO APPLICATION</h1>
        <h2> Player: {{player.userName}} </h2>
        <h3> Opponent: {{opponent.userName}} </h3>

        <div class="row ">
            <table class="col table ">
                    <thead>
                        <tr>
                            <th>Ship Grid</th>
                        </tr>
                        <tr>
                            <th v-for="numbers in gridNumbers"> {{numbers}} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="letters in gridLetters">
                            <th > {{letters}} </th>
                            <td v-for="(x, index) in gridLetters" :id="letters + (index + 1)"></td>

                        </tr>
                    </tbody>
            </table>
            <table class="col table ">
                <thead>
                    <tr>
                        <th>Salvo Grid</th>
                    </tr>
                    <tr>
                        <th v-for="numbers in gridNumbers"> {{numbers}} </th>
                    </tr>
                </thead>
                <tbody>
                <tr v-for="letters in gridLetters">
                    <th > {{letters}} </th>
                    <td v-for="(x, index) in gridLetters" :id="letters + (index + 1) + 'b' "></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/game.js" type="text/javascript"></script>
</body>
</html>