<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Wellfleet&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style/games.css">
    <title>Salvo</title>
</head>

<body>
    <div id="app" class="container">

        <main id="main" class="row justify-content-center" v-if="userN == null">

            <div id="boxTitle" class="col-12">
                <h1 id="title" class="row">BATTLE OF FOOD</h1>
            </div>

            <div id="choose" class="col-8">
                <h3 id="chooseTitle" class="row">
                    <em>C</em>
                    <em>H</em>
                    <em class="planet left"><img id="meat" src="../web/imagenes/bife.png" alt=""></em>
                    <em>O</em>
                    <em>S</em>
                    <em>E</em>
                    <em>&nbsp</em>
                    <em>Y</em>
                    <em class="planet right"><img id="tomate" src="../web/imagenes/tomate.png" alt=""></em>
                    <em>U</em>
                    <em>R</em>
                    <em>S</em>
                    <em>I</em>
                    <em>D</em>
                    <em>E</em>
                </h3>
            </div>
            <div class="col-12 " >
                <div class="row justify-content-around">
                    <img class="col-4" src="imagenes/vegano.png" alt="vg" id="vegano">
                    <img class="col-4" src="imagenes/carnicero.png" alt="vg" id="carnicero">
                </div> 
            </div>
            <div id="side" class="col-12">
                <div id="logInSide" class="row">
                    
                    <div class="col-5">          
                        <div class="form" >
                            <ul class="tab-group">
                                <li class="tab" id="signLiV"><a id="signV" v-on:click="loginFormTabV($event)" href="#signupV">Sign Up</a></li>
                                <li class="tab active" id="logLiV"><a id="logV" v-on:click="loginFormTabV($event)" href="#loginV">Log In</a></li>
                            </ul>
                            <div class="tab-content">
                                <div  id="signupV">                                  
                                    <h1>Sign Up!</h1>
                                    <form action="/" method="post" >
                                        <div class="field-wrap">
                                            <label class="inputSign" for="inputEmailSign">User Email</label>
                                            <input type="email"  spellcheck="false" id="inputEmailSign" aria-describedby="emailHelp" v-model="userNameV">
                                        </div>
                                        <div class="field-wrap">
                                            <label class="inputSign" for="inputnickSign">Nick Name</label>
                                            <input type="text" spellcheck="false" id="inputnickSign" v-model="nickNameV">
                                        </div>
                                        <div class="field-wrap">
                                            <label class="inputSign" for="inputPasswordSign">Set a Password</label>
                                            <input type="password" required autocomplete="off" class="form-inline" spellcheck="false" id="inputPasswordSign" v-model="passwordV">
                                        </div>
                                        <button id="startVegano" type="button" class="button button-block" v-on:click="signUpV">Get Started</button>
                                    </form>
                                </div>
                                <div id="loginV">
                                    <h1>Welcome Back!</h1>
                                    <form action="/" method="post">
                                        <div class="field-wrap">
                                            <label class="inputSign" for="inputEmailLog">User Email</label>
                                            <input type="email" spellcheck="false" id="inputEmailLog" aria-describedby="emailHelp" v-model="userNameV">
                                        </div>
                                        <div class="field-wrap">
                                            <label class="inputSign"  for="inputPasswordLog">Password</label>
                                            <input type="password" required autocomplete="off" class="form-inline" spellcheck="false" id="inputPasswordLog" v-model="passwordV">
                                        </div>

                                        <p class="forgot"><a href="#">Forgot Password</a></p>
                                        <br>
                                        <button id="startVeganoTwo" type="button" class="button button-block" v-on:click="logInV" >Get Started</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-5">          
                        <div class="form" >
                            <ul class="tab-group">
                                <li class="tab" id="signLiM"><a id="signM" v-on:click="loginFormTabM($event)" href="#signupM">Sign Up</a></li>
                                <li class="tab active" id="logLiM"><a id="logM" v-on:click="loginFormTabM($event)" href="#loginM">Log In</a></li>
                            </ul>
                            <div class="tab-content">
                                <div  id="signupM">                                  
                                    <h1>Sign Up!</h1>
                                    <form action="/" method="post" >
                                        <div class="field-wrap">
                                            <label class="inputSign" for="inputEmailSignM">User Email</label>
                                            <input type="email" spellcheck="false" id="inputEmailSignM" aria-describedby="emailHelp" v-model="userNameM">
                                        </div>
                                        <div class="field-wrap">
                                            <label class="inputSign" for="inputnickSignM">Nick Name</label>
                                            <input type="text" spellcheck="false" id="inputnickSignM" v-model="nickNameM">
                                        </div>
                                        <div class="field-wrap">
                                            <label class="inputSign" for="inputPasswordSignM">Set a Password</label>
                                            <input type="password" required autocomplete="off" class="form-inline" spellcheck="false" id="inputPasswordSignM" v-model="passwordM">
                                        </div>
                                        <button id="startCarnicero" type="button" class="button button-block" v-on:click="signUpM">Get Started</button>
                                    </form>
                                </div>
                                <div id="loginM">
                                    <h1>Welcome Back!</h1>
                                    <form action="/" method="post">
                                        <div class="field-wrap">
                                            <label class="inputSign" for="inputEmailLogM">User Email</label>
                                            <input type="email" spellcheck="false" id="inputEmailLogM" aria-describedby="emailHelp" v-model="userNameM">
                                        </div>
                                        <div class="field-wrap">
                                            <label class="inputSign" for="inputPasswordLogM">Password</label>
                                            <input type="password" required autocomplete="off" class="form-inline" spellcheck="false" id="inputPasswordLogM" v-model="passwordM">
                                        </div>

                                        <p class="forgot"><a href="#">Forgot Password</a></p>
                                        <button id="startCarniceroTwo" type="button" class="button button-block" v-on:click="logInM" >Get Started</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </main>
        
        <section id="vegetarianArmy" v-if="userN !== null"  >          
            
            <nav id="navBar" class="row navbar navbar-expand-lg ">
                <a id="navBarTitle" class="col-3 navbar-brand" href="#leaderboard">
                    <img src="../web/imagenes/vegano.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    BATTLE OF FOOD
                </a>
                <button id="logOut" type="button" class="btn btn-success" v-on:click="logOut" v-if="userN !== null ">
                Log Out
                </button>
            </nav>
            
            <h1 id="vegArmyTitle" class="col-12">VEGETARIAN ARMY</h1>
            <h1 id="vegArmyUser">{{userNick}} </h1> 
            
            <div id="playerBoard" class="row">                                                               
                <div class="col-3">
                    <a class="nav-link" id="gamesOpened" >Games Opened:  {{gamesInfo.length}}</a>
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">New Game!</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Continue Game:  {{returnGameList.length}}</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Join Game:  {{joinGameList.length}}</a>
                        <a class="nav-link " id="v-pills-statistics-tab" data-toggle="pill" href="#v-pills-statistics" role="tab" aria-controls="v-pills-statistics" aria-selected="false">All Statistics</a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <a v-if="userN !== null"  v-on:click="createGame">
                                <button id="create">Create Game</button>
                            </a> 
                        </div>
                        <div class="tab-pane fade " id="v-pills-statistics" role="tabpanel" aria-labelledby="v-pills-statistics-tab">
                            <table id="tableleaderboard" class="table table-striped table-sm ">
                                <thead>
                                   <tr></tr>
                                    <tr>
                                        <th colspan="5">LEADERBOARD</th>
                                    </tr>
                                    <tr>
                                        <th>Player</th>
                                        <th>Score</th>
                                        <th>Win</th>
                                        <th>Tie</th>
                                        <th>Loss</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="name in players">
                                        <th >{{name.user}} </th>
                                        <td>{{name.score}}</td>
                                        <td>{{name.win}}</td>
                                        <td>{{name.tie}}</td>
                                        <td>{{name.loss}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <ul >
                                <li class="continueList" v-for="game in returnGameList">{{game.id}} - {{game.creationDate}}
                                    <ul class="row" v-for="gamePlayer in game.gamePlayers" >
                                        <li class="col-5" >{{gamePlayer.player.userName}}</li>
                                        
                                        <a  class=" col-5" v-if="userN !== null && userN == gamePlayer.player.userName"  v-bind:href="'/web/game.html?gp='+gamePlayer.id" target="_blank">    
                                            <button >Back to Game</button> 
                                        </a>
                                        
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <ul >
                                <li class="joinList" v-for="games in joinGameList"> {{games.id}} - {{games.creationDate}}
                                    <ul class="row" v-for="gamePlayer in games.gamePlayers">
                                        <li class="col-5">{{gamePlayer.player.userName}}</li>
                                        <a class="col-5" v-on:click="joinGame(games.id)" v-if="userN !== null && userN !== gamePlayer.player.userName && games.gamePlayers.length == 1" >
                                            <button>Join Game</button>
                                        </a>
                                    </ul>
                                </li>
                            </ul>
                        </div> 
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <!--Ultimo no visible--> 
                        </div>
                    </div>
                </div> 
                <br>       
                <br>       
                <br>       
                <br>
                <br>       
                <br>       
                <br>       
                <br>       
                <br>       
                <br>        
                <br>       
                <br>       
                <br>     
                <br>       
                <br>        
                <br>       
                <br>       
                <br>      
            </div>

        </section>
        
        <!--<section id="vegetarianArmy" v-if="userN !== null"  >          
            <nav id="navBar" class="navbar navbar-expand-lg ">
                <a class="navbar-brand mb-0 h1" href="#leaderboard">
                    <img src="../web/imagenes/vegano.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    BATTLE OF FOOD
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#games"></a>
                        </li> 
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <button id="logOut" type="button" class="btn btn-success my-2 my-sm-0" v-on:click="logOut" v-if="userN !== null ">Log out</button>
                    </form>
                </div>
            </nav>
            <h1 id="vegArmyTitle" class="col-12">¡Welcome to Vegetarian Army!</h1>
            <h1 id="vegArmyUser">{{userNick}} </h1> 
            <div id="leaderboard">
                <table id="tableleaderboard" class="table table-striped table-sm ">
                    <thead>
                        <tr>
                            <th colspan="5">LEADERBOARD</th>
                        </tr>
                        <tr>
                            <th>Player</th>
                            <th>Score</th>
                            <th>Win</th>
                            <th>Tie</th>
                            <th>Loss</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="name in players">
                            <th >{{name.user}} </th>
                            <td>{{name.score}}</td>
                            <td>{{name.win}}</td>
                            <td>{{name.tie}}</td>
                            <td>{{name.loss}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>  
            <div class="row">                                                                
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Start Playing</a>
                        <a class="nav-link " id="v-pills-statistics-tab" data-toggle="pill" href="#v-pills-statistics" role="tab" aria-controls="v-pills-statistics" aria-selected="false">Statistics</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Continue Game</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Join Game</a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <a v-if="userN !== null"  v-on:click="createGame">
                                <button id="create">Create Game</button>
                            </a> 
                        </div>
                        <div class="tab-pane fade " id="v-pills-statistics" role="tabpanel" aria-labelledby="v-pills-statistics-tab">
                            ALL STATISTICS
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <ul >
                                <li class="continueList" v-for="game in returnGameList">{{game.id}} - {{game.creationDate}}
                                    <ul class="row" v-for="gamePlayer in game.gamePlayers" >
                                        <li class="col-5" >{{gamePlayer.player.userName}}</li>
                                        
                                        <a  class=" col-5" v-if="userN !== null && userN == gamePlayer.player.userName"  v-bind:href="'/web/game.html?gp='+gamePlayer.id" target="_blank">    
                                            <button >Back to Game</button> 
                                        </a>
                                        
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <ul >
                                <li class="joinList" v-for="games in joinGameList"> {{games.id}} - {{games.creationDate}}
                                    <ul class="row" v-for="gamePlayer in games.gamePlayers">
                                        <li class="col-5">{{gamePlayer.player.userName}}</li>
                                        <a class="col-5" v-on:click="joinGame(games.id)" v-if="userN !== null && userN !== gamePlayer.player.userName && games.gamePlayers.length == 1" >
                                            <button>Join Game</button>
                                        </a>
                                    </ul>
                                </li>
                            </ul>
                        </div> 
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            Ultimo no visible 
                        </div>
                    </div>
                </div>       
            </div>
        </section>-->
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/games.js" type="text/javascript"></script>
</body>

</html>
