<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Grilla Link-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack-extra.css" />
    <link rel="stylesheet" href="style/game.css" type="text/css">
    <!--Salvo Link-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <title>Salvo!</title>
</head>

<body>
    <div id="app" class="container">
        <nav id="navBar" class="row navbar navbar-expand-lg ">
            <a id="navBarTitle" class="col-3 navbar-brand" href="games.html">
                <img src="../web/imagenes/vegano.png" width="30" height="30" class="d-inline-block align-top" alt="">
                BATTLE OF FOOD
            </a>
            <button id="quitGame" type="button" class="btn btn-danger" v-on:click="guitGame" v-if="player !== null ">
                Quit Game
            </button>
        </nav>

        <div class="row">
            <h1 id="title" class="col">LET THE BATTLE BEGIN</h1>
        </div>

        <div class="row justify-content-center">
            <img id="vegano" src="imagenes/vegano.png" alt="p" class="col-10">
        </div>

        <div id="prepareSalad">
            <div class="row mb-3 justify-content-center">
                <h2 id="player" class=" text-align-center" v-if="newGame"> Prepare Your Salad {{player.nickname}} !</h2>
                <h2 id="player2" v-else="newGame"> This is War</h2>
            </div>
            <div id="prepareOptions" class="row">
                <div class="col-12 text-align-center" v-if="newGame"></div>
                <div class="col-12" v-else="newGame">
                    <div class="row">
                        <h3 class="col-6">Your Grid: {{player.nickname}}</h3>
                        <h3 class="col-6">Opponent Grid: {{opponent.nickname}}</h3>
                    </div>
                </div>
                <div class="col-3" v-if="newGame">
                    <!-- div solo para colocar el borde y posicionar en base a la altura y anchura-->
                    <div id="prepareBoard" class="row">
                        <!-- div que usa la librería gridstack-->
                        <p class="col-12 ">AIRCRAFT CORN: <span>5</span></p>
                        <div class="row m-0 ">
                            <img class="col-2 nailHead " src="imagenes/nailHead.png" alt="nail">
                            <div id="gridCarrier" class="grid-stack grid-stack-5 col-10"></div>
                            <br>
                            <br>
                        </div>
                        <p class="col-12">BATTLE EGGPLANT: <span>4</span></p>
                        <div class="row m-0">
                            <img class="col-2 nailHead" src="imagenes/nailHead.png" alt="nail">
                            <div id="gridBattleship" class="grid-stack grid-stack-4 col-10"></div>
                            <br>
                            <br>
                        </div>
                        <p class="col-12">SUBPEPPER: <span>3</span></p>
                        <div class="row m-0">
                            <img class="col-2 nailHead" src="imagenes/nailHead.png" alt="nail">
                            <div id="gridSubmarine" class="grid-stack grid-stack-3 col-10"></div>
                            <br>
                            <br>
                        </div>
                        <p class="col-12">LETTUCE-DESTROYER: <span>3</span></p>
                        <div class="row m-0">
                            <img class="col-2 nailHead" src="imagenes/nailHead.png" alt="nail">
                            <div id="gridDestroyer" class="grid-stack grid-stack-3 col-10"></div>
                            <br>
                            <br>
                        </div>
                        <p class="col-12">PATROL POTATOE: <span>2</span></p>
                        <div class="row m-0">
                            <img class="col-2 nailHead" src="imagenes/nailHead.png" alt="nail">
                            <div id="gridPatrol" class="grid-stack grid-stack-2 col-10"></div>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div id="buttonSaveRow" class="row">
                        <button id="buttonSave" type="button" class="col-12 btn btn-success" onclick="saveShips()"> SAVE POSITIONS </button>
                    </div>
                </div>
                <div class="col-6  justify-content-center">
                    <div id="grid-shipsPosition" class="row">
                        <!-- div solo para colocar el borde y posicionar en base a la altura y anchura-->
                        <div id="gridPosition" class="col-12 grid-stack grid-stack-10"></div>
                        <!-- div que usa la librería gridstack-->
                    </div>
                </div>
                <div class="col-3" v-if="newGame">
                    Place all your vegetables on the grid before saving. After you save positions, the opponent grid will be display beside your grid and the game will be ready to start!
                </div>
                <div class="col-6" v-else="newGame">
                    <div class="row">
                        <table id="salvoGrid" class="col table table-bordered table-striped" cellspacing='0' cellpadding='0'>
                            <thead>
                                <tr>
                                    <th class="bg-dark text-white" v-for="numbers in gridNumbers"> {{numbers}} </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="letters in gridLetters">
                                    <th class="bg-dark text-white"> {{letters}} </th>
                                    <td v-for="(x, index) in gridLetters" :id="letters + (index + 1)" onclick="salvoLocation(id)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="buttonSalvoRow" class="row justify-content-between">
                        <button id="buttonSaveSalvo" type="button" class="col-12 btn btn-success" onclick="saveSalvoLocations()">SAVE SHOOTS</button>
                    </div>
                </div>

            </div>
        </div>
        <div id="targetTable">
            <table id="statusTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="9" scope="col" >Game Status</th>
                    </tr>
                    <tr>
                        <th colspan="4" scope="col">Player Fleet Status</th>
                        <th scope="col"></th>
                        <th colspan="4" scope="col">Opponent FLeet Status</th>
                    </tr>
                    <tr>
                        <th colspan="4" scope="col">Own Ships</th>
                        <th scope="col"></th>
                        <th colspan="4" scope="col">Opponent Ships</th>
                    </tr>
                    <tr >
                        <th scope="col">Turn</th>
                        <th scope="col">Hits</th>
                        <th scope="col">Sunken</th>
                        <th scope="col">Remain</th>
                        <th></th>
                        <th scope="col">Turn</th>
                        <th scope="col">Hits</th>
                        <th scope="col">Sunken</th>
                        <th scope="col">Remain</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td></td>
                        <th scope="row">1</th>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <!--Grilla Script-->
    <script src="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack.all.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/src/jquery.js"></script>-->

    <!--Salvo Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/game.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</body>

</html>
