body {
   background-image: url(../imagenes/foodbox.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    align-items: center; 
}

#titleBox {
    position: absolute;    
}

.container {
    max-width: 1350px;
}

#main {
    justify-content: center;
    margin: 0% 2%;
    background-color: rgba(161, 149, 149, 0.7);
}

#title {
    justify-content: center;
    font-family: Rocks;
    color: red;
    font-size: 17vw;
    margin: 0%;
    line-height: 1;
}

#choose {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: #ccc;
    padding: 0%;
}

#chooseTitle {
    width: 100%;
    justify-content: center;
    padding: 20% 0%;
    background-image: url(../imagenes/mira.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}

h3 {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

@font-face {
    font-family: Rocks;
    src: url(Rocks.ttf);
}

em {
    font-family: Rocks;
    color: black;
    font-size: 10vw;
    font-style: normal;
    width: 9%;
    text-align: center;
    
}

em.planet {
  -webkit-animation: planet-rotate 4s linear infinite;
  animation: planet-rotate 4s linear infinite;
  
}

em.planet::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 13vmin;
    height: 13vmin;
    border-radius: 50%;  
}

em.planet.left {
    transform-origin: 390% 270%;
    align-self: center;
    height: 10%;
  
}

em.planet.right {
    transform-origin: -260% 250%;
    align-self: center;
    justify-content: start;
    height: 10%;
}

@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}

#meat {
    width: 150%;
    align-self: start;
}

#tomate {
    width: 150%;
    align-self: start;
}

#logInSide {
    justify-content: space-between;
    margin-bottom: 5%;
}

/*IMG*/
@font-face {
    font-family: Parisienne;
    src: url(Parisienne.ttf);
}

#v {
    font-family: Parisienne;
    color: black;
    font-size: 1000%;
    text-align: start;
}

#m {
    font-family: Parisienne;
    color: black;
    font-size: 1000%;
    text-align: end;
}


#vegano  {
    background-image: url("../imagenes/vegano.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 0%;  
}

#carnicero {
    background-image: url("../imagenes/carnicero.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}


/*FORM*/
*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
    padding: 10px;
    margin: 0px 20px;
    max-width: 600px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    transition: .5s ease;
    font-family: Rocks;
    font-size: 40px;
}

.form:hover {
	box-shadow: 0px 0px 40px 16px rgba(18,18,18,1.00);
	}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #000;
  color: #fff;
  font-size: 40px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}

.tab-group li a:hover {
  background: #de2421;
  color: #ffffff;
}
.tab-group .active a {
  background: #06c93a;
  color: #ffffff;
}

.tab-content > div:last-child {
    display: none;
    font-family: Rocks;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 200%; 
    font-weight: 300;
    margin: 0 0 10px;
}

label {
  transform: translateY(6px);
  left: 13px;
  color: #fff;
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 22px;
}


label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 20px;
}


label.highlight {
  color: #000;
  margin-top:-10px;
}

input {
    font-family: 'Wellfleet', cursive;
    font-size: 20px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #fff;
    color: white;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus{
  outline: 0;
  border-color: #000;
}

.field-wrap .inputSign,  {
    font-size: 40px;
    margin-bottom: 0px;
}

.field-wrap {
  position: relative;
  margin-bottom: 20px;
    
}

.field-wrap .inputSign {
    font-size: 40px;
    margin-bottom: 0px;
}

#startVegano {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 0;
    font-family: Rocks;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-image: url(../imagenes/frutas.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: darkred;
    transition: all 0.5s ease;
}

#startVeganoTwo {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 0;
    font-family: Rocks;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-image: url(../imagenes/frutas.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: darkred;
    transition: all 0.5s ease;
}

#startCarnicero {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 0;
    font-family: Rocks;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-image: url(../imagenes/carne.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: darkred;
    transition: all 0.5s ease; 
}

#startCarniceroTwo {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 0;
    font-family: Rocks;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-image: url(../imagenes/frutas.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: darkred;
    transition: all 0.5s ease;
}

.button:hover, .button:focus {
  background: #06c93a;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
  margin-bottom:10px;
}

#veganoBox, #carniceroBox  {
    justify-content: center;   
}

/*LOGGED PLAYER PAGE*/
#vegetarianArmy {
    background-image: url(../imagenes/mesaTwo..jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    padding: 0% 2%;
}

#navBar {
    justify-content: space-between;
    background-image: url(../imagenes/mesaThree.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 80%;
}

#navBarTitle {
    font-family: Rocks;
    font-size: 25px;
    letter-spacing: 1px;
}

#logOut {
    font-family: Rocks;
    font-size: 25px;
    letter-spacing: 1px;
}

#vegArmy {
    background-image: url(../imagenes/frutasFrescas.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#vegArmyTitle {
    margin: 5% 0% 3% 0%;
    text-align: center;
    font-family: Rocks;
    color: darkgreen;
    font-size: 15vw;
    line-height: 1;
    line-height: 10vw;   
}

#vegArmyUser {
    font-family: Rocks;
    color: darkred;
    font-size: 10vw;
    line-height: 1;
    margin-top: 2%;
    margin-bottom: 3%;
    text-transform: uppercase;
    background-image: url(../imagenes/fork.png);
    background-size: contain;
    background-position:right;
    background-repeat: no-repeat;
}

#playerMenu{
    background-image: url(../imagenes/menu.jpg);
    background-size: 100% ;
    /*background-repeat: no-repeat;*/
    padding: 2%;
    margin-top: 5%;
}

#navbarSupportedContent {
   margin: 35% 0% 0% 0%; 
}

#navPlayer {
    box-shadow: 2px 0px 10px 2px white;
    margin: 0% 3% 3% 3%;
    padding: 0%;
    font-family: Rocks;
    font-size: 70px;
    color: white;
    justify-content:space-around;
    align-items: center;
    opacity: 80%;
}

#navPlayer li {
    margin: 0% 1%; 
}

#navPlayer li a {
    border: none;
}

#navPlayer li a:hover {
    border: none;
}

/*#homeOpened {
    border: 1px solid green;
    background-color: darkgray;
    margin-bottom: 5%;
}*/

#menuDisplay {
    margin: 0%;
    justify-content: space-around;
}

#menuDisplayBox {
    margin: 0% 2% 5% 2%;
    padding: 0%;
    box-shadow: 1px 5px 10px 5px white;
    opacity: 90%;
    background-color: white;
}

#home, #join, #continue, #statistics {
    opacity: 90%;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

/*HOME-TAB*/
#homeText {
    text-align: justify;
    font-size: 50px;
    font-family: Rocks;
    color: black;
    line-height: 1; 
}

#create {
    font-family: Rocks;
    font-size: 80px;
    color: white;
    background-image: url(../imagenes/frutas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 80%;
    margin: 5% 0%;
    border-radius: 25%;
}

#create:hover { 
  color: red;
}

/*JOIN-COMTINUE-STATISTICS TABS*/
.listContent {
    list-style: none;
    margin: 2% 4%;
}

.listContent li {
    list-style: none;
}

.continueList, .joinList {
    margin-top: 7%;
    font-family:fantasy;
    font-weight: lighter;
    letter-spacing: 5%;
    font-size: 30px;
    color: black;
    opacity: 80%;
    
}

.joinList ul {
    margin: 0%;
}

.joinList ul li {
    font-size: 25px;
}

li span {
    color: green;
}

/*LEADERBOARD*/
#tableLeaderBoard {                     
    opacity: 80%;
    color: white;
    margin-top: 2%;
    padding: 0%;
    
}

#tableLeaderBoard thead tr {
    text-transform: uppercase;
    font-size: 50px;
    font-family: Rocks;
    text-align: center;
}

.player {
    text-align: left;
}

.score {
    text-align: right;
}

#tableLeaderBoard tbody tr {
    font-size: 25px;
    text-align: center;
}

#leaderboard tr {
    text-align: center;
}