body {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    align-items: center;
    padding: 0% 1%;
    color: white;
}

#app {
    max-width: 100%;
    margin: 0%;
    padding: 0% 2%;
    /*background-color: rgba(161, 149, 149, 0.5);*/
}

@font-face {
    font-family: Rocks;
    src: url(Rocks.ttf);
}

#title {
    justify-content: center;
    text-align: center;
    font-family: Rocks;
    color: green;
    font-size: 15vw;
    margin: 0%;
    line-height: 1;
}

/*GRILLA*/
#grid-shipsChoose{ 
    padding: 3%; 
    margin-bottom: 2%;
    background-image: url(../imagenes/mesaOne.jfif);
    background-size: 100% 100%;
    background-repeat: no-repeat;   
}

#gridChoose {
    
}

#grid-shipsPosition {
    padding-top: 52px;
    padding-left: 10%;
    margin: 0%;
    width: 500px 500px;
    background-image: url(../grilla/style/grid-bkg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content:flex-end;
    align-items: flex-end;
}

#gridPosition {
    padding: 0%;
}

.grid-stack-item-content {
    background-repeat: no-repeat;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    left: 0px !important;
    right: 0px !important;
}
/*Horizontal*/
.carrierHorizontal{
    background-image: url('../grilla/style/carrierhorOne.png');
    background-size: contain;
}

.battleshipHorizontal{
    background-image: url('../grilla/style/battleshiphorOne.png');
    background-size: contain;
}

.destroyerHorizontal{
    background-image: url('../grilla/style/destroyerhorOne.png');
    background-size: contain;
}

.submarineHorizontal{
    background-image: url('../grilla/style/submarinehorOne.png');
    background-size: contain;
}

.patrolHorizontal{
    background-image: url('../grilla/style/patrolboathorOne.png');
    background-size: contain;
}

/*Vertical*/
.carrierVertical{
    background-image: url('../grilla/style/carrierverOne.png');
    background-size: 100% 100%;
    width: 40px 
}

.battleshipVertical{
    background-image: url('../grilla/style/battleshipverOne.png');
    background-size: 100% 100%;
    width: 50px !important;
}

.destroyerVertical{
    background-image: url('../grilla/style/destroyerverOne.png');
    background-size: 100% 100%;
    width: 55px !important;
}

.submarineVertical{
    background-image: url('../grilla/style/submarineverOne.png');
    background-size: 100% 100%;
    width: 50px !important;
}

.patrolVertical{
    background-image: url('../grilla/style/patrolboatverOne.png');
    background-size: 100% 100%;
    width: 50px !important;
}

#otherStuff {
    text-align: center;
}

