body {
    background-image: url(../imagenes/foodbox.jpg);    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    align-items: center;
    padding: 0% 1%;
    color: white;
}

.container {
    max-width: 100%;
    margin: 0%;
    padding: 0% 2%;
     background-image: url(../imagenes/mesaTwo..jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

@font-face {
    font-family: Rocks;
    src: url(Rocks.ttf);
}

#navBar {
    justify-content: space-between;
    background-image: url(../imagenes/mesaThree.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 80%;
}

#navBarTitle {
    font-family: Rocks;
    font-size: 25px;
    letter-spacing: 1px;
    color: white;
}

#logOut {
    font-family: Rocks;
    font-size: 25px;
    letter-spacing: 1px;
}

#title {
    justify-content: center;
    text-align: center;
    font-family: Rocks;
    color: darkgreen;
    font-size: 15vw;
    margin: 0%;
    line-height: 1;
}

#vegano {
    
    box-shadow: 0 10px 10px -7px white;
}

#player, #player2 {
    font-family: Rocks;
    font-size: 80px;
}

p span {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

#gameSalvo {
    margin-top: 5%;
}

#opponent {
    font-family: Rocks;
    font-size: 30px;
}

/*GRILLA*/
#prepareSalad {
    color: white;
}
#prepareOptions {
    background-image: url(../imagenes/mesaTwoTwo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 2%;
    box-shadow: inset 0 0 10px white;
    color: white;
}

div p {
    font-family: Rocks;
    letter-spacing: 1px;
    font-size: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.nailHead {
    margin-top: 4%;
    height: 40%;   
}

#gridCarrier, #gridBattleship, #gridDestroyer, #gridSubmarine, #gridPatrol {
    padding: 0%;
}

#buttonSaveRow {
    margin: 5% 2% 0% 0%;
}

#buttonSave {
    font-family: Rocks;
    font-size: 30px;
    letter-spacing: 1px;
}

#grid-shipsPosition, #grid-salvoPosition {
    padding-top: 52px;
    padding-left: 10%;
    margin: 0%;
    width: 500px 500px;
    background-image: url(../grilla/style/grid-bkg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content:flex-end;
    align-items: flex-end;
}

#gridPosition, #gridSalvo {
    padding: 0%;
}

.grid-stack-item-content {
    background-repeat: no-repeat;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    left: 0px !important;
    right: 0px !important;
}
/*Horizontal*/
.carrierHorizontal{
    background-image: url('../grilla/style/carrierhorOne.png');
    background-size: contain;
}

.battleshipHorizontal{
    background-image: url('../grilla/style/battleshiphorOne.png');
    background-size: contain;
}

.destroyerHorizontal{
    background-image: url('../grilla/style/destroyerhorOne.png');
    background-size: contain;
}

.submarineHorizontal{
    background-image: url('../grilla/style/submarinehorOne.png');
    background-size: contain;
}

.patrolHorizontal{
    background-image: url('../grilla/style/patrolboathorOne.png');
    background-size: contain;
}

/*Vertical*/
.carrierVertical{
    background-image: url('../grilla/style/carrierverOne.png');
    background-size: 100% 100%;
    width: 40px 
}

.battleshipVertical{
    background-image: url('../grilla/style/battleshipverOne.png');
    background-size: 100% 100%;
    width: 50px !important;
}

.destroyerVertical{
    background-image: url('../grilla/style/destroyerverOne.png');
    background-size: 100% 100%;
    width: 55px !important;
}

.submarineVertical{
    background-image: url('../grilla/style/submarineverOne.png');
    background-size: 100% 100%;
    width: 50px !important;
}

.patrolVertical{
    background-image: url('../grilla/style/patrolboatverOne.png');
    background-size: 100% 100%;
    width: 50px !important;
}





